<div class="padding-m max-width">
    <RadzenMenu>
        <RadzenMenuItem Path="" Text="Home" Icon="home">
        </RadzenMenuItem>
        <RadzenMenuItem Path="counter" Text="Counter" Icon="add_box">
        </RadzenMenuItem>
        <RadzenMenuItem Path="weather" Text="Weather" Icon="cloud">
        </RadzenMenuItem>
    </RadzenMenu>
</div>

@code {
}