<div class="padding-m max-width">
    <RadzenMenu>
        <RadzenMenuItem Path="" Text="Home" Icon="home" />
        <RadzenMenuItem Path="/koeretoej-information" Text="Køretøj Information"/>
    </RadzenMenu>
</div>

@code {
}